body {

    background-color: lightblue;
  }

  #bands {
    width: 70%;
  }
  
  .band-item {
    float: left;
    padding: 10px;
  }
  
  form {
    float: left;
    width: 30%;
    padding: 20px;
  }
  
  input[type="text"] {
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
    font-size: 18px;
  }
  button:hover,
  input[type="submit"]:hover {
    background: #334e4d;
  }
  
  button.active {
    background: #334e4d;
  }
